/* ---------- FOTO REDONDA ---------- */
.imagem-redonda {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 30%;
}

<p style="
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    font-family: Georgia, serif;
    color: #222;
    letter-spacing: 1px;
">
    Matheus Gomes Costa
</p>

