/* ---------- FOTO REDONDA ---------- */
.imagem-redonda {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 30%;
}

<p style="
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    font-family: Georgia, serif;
    color: #222;
    letter-spacing: 1px;
">
    Matheus Gomes Costa
</p>

.tabela-atividades {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
}

.tabela-atividades th {
    background-color: red;
    color: white;
    padding: 12px;
    text-align: left;
    border: 1px solid red;
}

.tabela-atividades td {
    padding: 12px;
    border: 1px solid red;
}

.tabela-atividades tr:nth-child(even) {
    background-color: #ffe5e5;
}

.tabela-atividades tr:hover {
    background-color: #ffcccc;
}

.tabela-atividades a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.tabela-atividades a:hover {
    color: darkred;
    text-decoration: underline;
}

